---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="Learn more about me"
	pubDate={new Date('2024-06-02')}
	heroImage="/about.webp"
>

<p>Bringing the latest news from the furry fandom!</p>

</Layout>
