---
import { Icon } from 'astro-icon/components'
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Link Häggman. All rights reserved.
	<div class="social-links">
		<a href="https://github.com/LinkTheCoder" target="_blank">
			<Icon name="github" class="text-3xl" />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: #171717;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
